<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Employee</h1>
    <form>
      First: <input type="text" /><br />
      Last Name: <input type="text" /><br />
      Casino<br />
      <input type="radio" name="casino" value="Empire" />
      <input type="radio" name="casino" value="580" /><br />
      Title<br />
      <input type="radio" name="title" value="associate" />
      <input type="radio" name="title" value="supe" /><br />
      Hired Date <input type="date" /><br />
      EIN<input type="number" /><br />
      Submit<input type="submit" /><br />
    </form>
  </body>
</html>
